{
  "extends": "./node_modules/kcd-scripts/eslint.js",
  "rules": {
    "react/prop-types": "off",
    "import/no-unassigned-import": "off",
    "import/named": "off",
    "max-lines-per-function": "off",
    "jsx-a11y/label-has-for": "off"
  }
}